.element__title {
    margin: 0;
    padding: 0;
    margin: 25px 0 31px 21px;
    font-weight: black;
    color: #000000;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 70%;
    
}