.popup__form { 
    margin: 0 auto;
    padding: 0;
    width: 358px;
    margin-top: 54px;

    
    font-size: 14px;
    line-height: 17px;
    color: #000000;

}

@media screen and (max-width: 767px) {
    .popup__form {
        width: 238px;
        margin-top: 75px;
  
    }
  }